.recipient {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 670px;
  padding: 1rem;
  margin: 0 auto 3rem;
  border: var(--borderWidth) solid #d3d3d330;
  border-radius: var(--borderRaduis);
}

.recipient_header,
.ooops {
  text-align: center;
}
