.recipient-line {
  background-color: #d3d3d310;
  padding: .3rem .6rem;
  border-radius: calc(var(--borderRaduis)/2);
  
  .title {
    font-weight: bold;
    background-color: #d3d3d310;
    border-radius: inherit;
    padding: .3rem .6rem .4rem .6rem;
    margin: -.3rem -.6rem .2rem;
  }
  
  .ozon_address {
    color: aqua;
  }
  
  .wb_address {
    color: #bc75ff;
  }
}

@media (max-width: 767px) {
  .recipient-line {
    .title {
      font-size: 0.9rem;
    }
  }
}

