.recipient-line {
  .title {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .ozon_address {
    color: aqua;
  }
  
  .wb_address {
    color: #bc75ff;
  }
}

@media (max-width: 767px) {
  .recipient-line {
    .title {
      font-size: 0.9rem;
    }
  }
}

