#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rowItems {
  /* display: flex;
  gap: 10rem; */
}

.numberTitle {
  font-size: 2rem;
}

.number {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: .5rem;
  color: rgb(255, 220, 63);
}

.TGLink {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5rem;
  color: rgb(0, 191, 255);
}

.form {
  background-color: white;
  width: 40vw;
  height: 90vh;
}

.reciever {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;

  .line-head {
    text-decoration: underline;
  }

  .ozon {
    color: aqua;
  }

  .wb {
    color: #bc75ff;
  }
}