.santa-header {
  display: flex;
  margin-bottom: 2rem;
  text-align: center;
  
  .title {
    font-size: 2rem;
  }
  
  .number {
    --letter-space: .5rem;
    
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: var(--letter-space);
    margin-right: calc(var(--letter-space)*-1);
    color: rgb(255, 220, 63);
  }
  
  .tg {
    font-size: 1.2rem;
    color: rgb(0, 191, 255);
  }
}
